<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-mail</title>
    <link rel="stylesheet" th:href="@{/general.css}">
</head>
<body>
<header>
    <span>Просмотр письма</span>
    <a th:href="@{/emailbox}">Назад</a>
</header>
<div>
    <p>Отправитель: <span th:text="${oneMail.getSender()}"></span></p>
    <p>Тема: <span th:text="${oneMail.getTheme()}"></span></p>
    <p th:text="${oneMail.getContent()}"></p>
</div>
</body>
</html>