<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Отправка писем</title>
    <link rel="stylesheet" th:href="@{/general.css}">
</head>
<body>
<div>
    <h2>Заполните форму отправки письма ниже</h2>
    <a th:href="@{/emailbox}">Назад</a>
</div>
<form th:action="@{/sender}" th:object="${sendForm}" method="post" id="sForm">
    <p>Получатель: <input type='text' name='receiver' th:field="*{receiver}">@email.ru</p>
    <p>Тема письма: <input type='text' name='theme' th:field="*{theme}"></p>
    <p>Содержание письма: </p>
    <textarea rows="20" cols="60" th:field="*{content}" form="sForm">...</textarea><br>
    <input name="submit" type="submit" value="Отправить" />
</form>
</body>
</html>