<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация нового пользователя</h1>
<form th:action="@{/signin}" th:object="${signForm}" method="POST">
    <table>
        <tr>
            <td>Логин:</td>
            <td><input type='text' name='username' th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td><input type='password' name='password' th:field="*{password}"/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="Sign In" /></td>
        </tr>
    </table>
</form>
</body>
</html>